:root{
  --text-darkmode: whitesmoke; 
  --tarnished-gold: rgba(255, 215, 0, 0.4);
}

*{
  box-sizing: border-box;
}

body{
  padding: 0; 
  margin: 0 auto;
  max-width: 960px; 
  min-height: 100vh; 
  overflow: scroll;
  background-color: #181818;
  color: var(--text-darkmode);
}

html{
  font-size: 62.5%; 
}

button{
  cursor: pointer;
}

p, a{
  font-size: 1.6rem; 
}

h3{
  font-size: 1.8rem; 
}

/*
==========
  NAVBAR
==========
*/

.main-navbar{
  display: flex; 
  align-items: center;
  justify-content: space-between;

}

.main-navbar a{
  margin-left: 20px; 

  text-decoration: none;
  color: var(--text-darkmode); 
}

.main-content{
  margin: 0 20px; 
}

/*
============
  Projects
============
*/

.project-preview{
  display: flex; 
  align-items: center;
  justify-content: space-between;

  background-color: #1f1f1f;

  margin-bottom: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 0px 2px var(--tarnished-gold);
}

.project-preview-text-container{
  width: 50%; 
  margin-left: 10px; 
}

.project-preview-text-container a{
  background-color: transparent;
  border: none; 
  color: var(--tarnished-gold);
  text-decoration: none;
}

.project-preview-image-container img{
  margin: 10px 10px 10px 0; 
  border-radius: 0 10px 10px 0;
}

/*
================
  PROJECT PAGE
================
*/

.project-page p{
  max-width: 50vw; 
  padding-bottom: 2rem; 
  border-bottom: solid var(--tarnished-gold) 1px; 
}

.project-page a{
  background-color: transparent;
  border: none; 
  color: var(--tarnished-gold);
  text-decoration: none;
}

/*
==========
  FOOTER
==========
*/

.website-footer{
  display: flex; 
  align-items: center;
  justify-content: flex-end;
}

.website-footer a{
  color: var(--tarnished-gold);
}