:root{
  --text-darkmode: whitesmoke; 
  --tarnished-gold: rgba(255, 215, 0, 0.4);
  --tarnished-gold-hover: rgba(255, 215, 0, 0.6);
  --tarnished-gold-active: rgba(255, 215, 0, 0.7);
}

*{
  box-sizing: border-box;
}

body{
  padding: 0; 
  margin: 0 auto;
  max-width: 960px; 
  min-height: 100vh; 
  overflow: scroll;
  background-color: #181818;
  color: var(--text-darkmode);
  overflow-x: hidden; 
}

html{
  font-size: 62.5%; 
}

button{
  cursor: pointer;
}

p, h4, a{
  font-size: 1.6rem; 
}

h2{
  font-size: 4.8rem; 
}

h3{
  font-size: 1.8rem; 
}

.golden{
  color: var(--tarnished-gold); 
}

/*
==========
  NAVBAR
==========
*/

.main-navbar{
  display: flex; 
  align-items: center;
  justify-content: space-between;

  height: 70px; 
}

.main-navbar a{
  margin-left: 20px; 

  text-decoration: none;
  color: var(--text-darkmode); 
}

.main-content{
  margin: 0 20px; 
}

/*
========
  HOME
========
*/

.home-page{
  max-width: 50vw;
}

.home-page .greeting{
  max-width: 60%; 
}

.home-page .greeting .golden{
  color: var(--tarnished-gold); 
}

.home-page .greeting p{
  font-size: 2rem; 
}

.coming-soon ul{
  font-size: 2rem; 
  padding: 0;
}

.coming-soon li{
  font-size: 1.6rem; 
}

/*
============
  Projects
============
*/

.project-preview{
  display: flex; 
  align-items: center;
  justify-content: space-between;

  position: relative; 

  background-color: #1f1f1f;

  margin-bottom: 20px; 
  border-radius: 10px; 
  box-shadow: 0px 0px 2px var(--tarnished-gold);

  cursor: pointer;
}

.project-preview:hover{
  box-shadow: 0px 0px 2px var(--tarnished-gold-hover);
}

.project-preview:active{
  box-shadow: 0px 0px 2px var(--tarnished-gold-active);
}

.project-preview-text-container{
  width: 50%; 
  margin-left: 10px; 
}

.project-preview-text-container a{
  background-color: transparent;
  border: none; 
  transition: .15s; 

  position: absolute; 
  left: 0; 
  top: 0; 
  right: 0; 
  bottom: 0;
}

.project-preview-text-container a:hover{
  color: var(--tarnished-gold-hover);
}

.project-preview-text-container a:active{
  color: var(--tarnished-gold-active);
}

.project-preview-image-container img{
  margin: 10px 10px 10px 0; 
  border-radius: 0 10px 10px 0;
}

/*
================
  PROJECT PAGE
================
*/

.project-page{
  max-width: 50vw;
}

.project-page .navbar{
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.project-page .navbar a{
  margin-left: 20px; 
}

.project-page p{
  max-width: 50vw; 
  margin: 0 0 20px 0;
}

.project-page a{
  background-color: transparent;
  border: none; 
  color: var(--tarnished-gold);
  text-decoration: none;
}

.project-page a:hover{
  color: var(--tarnished-gold-hover);
}

.project-page a:active{
  color: var(--tarnished-gold-active);
}

/*
=======
  404
=======
*/

.not-found h1{
  font-size: 4.8rem; 
}

.not-found p{
  font-size: 2rem; 
}

/*
==========
  FOOTER
==========
*/

.website-footer-container{
  display: flex; 
  align-items: center;
  justify-content: center;

  position: absolute; 
  bottom: 0; 
  right: 0; 
  left: 0;
}

.website-footer{
  display: flex; 
  align-items: center;
  justify-content: flex-end;
  width: 960px;
 
  margin-right: 20px; 
}

.website-footer a{
  color: var(--tarnished-gold);
}

.website-footer a:hover{
  color: var(--tarnished-gold-hover);
}

.website-footer a:active{
  color: var(--tarnished-gold-active);
}